@font-face {
  font-family: NeutralFace;
  src: local("outward"), url("/fonts/NeutralFace.otf") format("opentype");
  font-weight: 700;
}

html,
body,
#__next {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", Helvetica Neue, sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}
p {
  line-height: 1.25;
}
* {
  box-sizing: border-box;
}

.link {
  font-weight: 500;
}
